body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  padding: 10%;;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-list-wrapper,.archived-notes-list-wrapper {
  margin-bottom: 30px;
}

.notes-list-wrapper,.summary-table-wrapper, .archived-notes-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px #000000 solid;
  width: 90%;
}

.summary-table-title,.notes-list-title,.archived-notes-list-title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0;
}

.header-col,.summary-col{
  color: #fff;
}

.notes-list-header, .summary-table-header,.archived-notes-list-header {
  background-color: #a9a9a9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}

.header-icons,.action-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bin {
  width: 20px;
  height:20px;
}

.dir {
  width: 25px;
  height:25px;
  margin-right:3px;
}
.list-row, .sum-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(214, 210, 210);
  margin-bottom: 10px;
  padding-left: 15px ;
}

.colom,.coloms {
  display: flex;
  align-items: center;
  width:33%;
}

.coloms {
  justify-content: center;
}


.action-icons,.col {
  width: 17%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
}

.action-icons {
  justify-content: center;
}

.btn-container{
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.create-btn, .save, .cancel, .show-archive-btn {
  margin: 1%;
  width: 15%;
  padding:10px;
  border-radius: 12px;
  font-weight: 500;
}

.modal {
  position: fixed;
  display: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  z-index: 200;
  width: 40%;
  padding: 20px;
  margin:15% auto ;
  border-radius: 15px;
}

.modal .modal-content .modal-close {
  color: #aaa;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.modal-inner {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 15px;
}

.modal-title {
  margin-left: 30%;
  font-size: 20px;
  font-weight: bold;
}

.modal-body {
  width: 90%;
}

.note-form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  height: 70%;
}

.form-row {
  width: 100%;
  margin-bottom:10px;
  height: 40px;
}

.form-row-date {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  /* margin-top: 10px; */
}

.form-part {
  width: 70%;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 12px;
  border-radius: 12px;
}

.action-btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.save, .cancel{
width: 25%;
}

#task-type{
  height: 35px;
}

#content {
margin-top: 10px;
}

.content-aria {
width: 70%;
margin-left: 15px;
}
.archived-notes-list-wrapper{
  display: none;
}

.btn-container,.active {
  display: flex;
}
